.top-link {
    font-size: clamp(2rem, 2vw, 2.2rem);
    position: fixed;
    top: 92%;
    right: 0px;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    justify-content: center;
    border-radius: 10px;
    animation: bounce 3s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
    opacity: 0.5;
}
.show-link {
    visibility: visible;
    z-index: 100;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
