header {
    img {
        height: auto;
        width: 120px;
    }
    nav {
        display: flex;
        flex-direction: row;

        ul {
            list-style: none;
            height: 50%;
            color: rgba(14, 55, 14, 0.95);
        }

        .hamburger-menu {
            position: absolute;
            z-index: 4;
            right: 15px;
            top: 35px;
            font-size: 3rem;
            color: rgba(14, 55, 14, 0.95);
        }
        .fa-bars {
            color: rgba(14, 55, 14, 0.95);
        }
    }

    .navLinks {
        transform: translateY(-110%);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 3;
        list-style: none;
        padding: 0;
        width: 100vw;
        height: 65vh;
        background-color: $offWhite;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        transition: all 0.3s;
        li {
            width: 75vw;
            text-align: center;
            font-weight: bold;
            a {
                text-decoration: none;
                font-family: $headingFont;
                font-size: 1.5rem;
                padding: 5px 40px 5px 40px;
                &:hover {
                    text-decoration: line-through;
                    opacity: 0.7;
                }
            }
        }
    }
    .show {
        transform: translateY(-3%);
    }
}
