.intro {
    background-color: $offWhite;
    height: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    // background-image: url("../assets/introBackground.jpg");
    background-image: url(../assets/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    .textContainer {
        span {
            font-weight: 600;
            color: rgba(14, 55, 14, 0.88);
            position: relative;
            z-index: 1;
            margin-bottom: 10px;
            &::after {
                content: " ";
                background: #f9bdb9;
                position: absolute;
                display: block;
                height: 60%;
                width: 90%;
                right: 0%;
                top: 50%;
                z-index: -4;
                opacity: 0.5;
            }
        }

        p {
            font-size: clamp(1.05rem, 4vw, 3rem);
            font-weight: 600;
            color: rgba(14, 55, 14, 0.88);
            margin-top: 20px;
            padding-bottom: 10px;
            text-shadow: -1px -1px 0 #f6f6f6, 1px -1px 0 #f6f6f6,
                -1px 1px 0 #f6f6f6, 1px 1px 0 #f6f6f6;
        }
    }
}
