.intro {
    background-color: $offWhite;
    height: 60vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/introBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    .textContainer {
        width: 95vw;
        h1 {
            font-weight: 600;
            color: rgba(14, 55, 14, 0.88);
        }

        p {
            font-size: clamp(2rem, 4vw, 3rem);
            font-weight: 600;
            color: rgba(14, 55, 14, 0.88);
        }
    }
}
