//media query for h1 pseudo element and typewriter effect
@media (min-width: 295px) {
    .intro {
        .textContainer {
            span {
                position: relative;
                z-index: 1;
                &::after {
                    content: " ";
                    background: #f9bdb9;
                    height: 50%;
                    width: 92%;
                    right: 0%;
                    top: 45%;
                    z-index: -4;
                    opacity: 0.5;
                }
            }
        }
    }
    .typedContainer {
        display: inline-block;
        .typed {
            overflow: hidden;
            border-right: 0.15em solid $offWhite;
            white-space: nowrap;
            width: fit-content;
            margin: 0 auto;
            animation: typing 3s steps(45, end) forwards,
                blink-caret 0.75s step-end infinite;
        }
        @keyframes typing {
            from {
                width: 0;
            }
            to {
                width: 100%;
            }
        }
        @keyframes blink-caret {
            from,
            to {
                border-color: transparent;
            }
            50% {
                border-color: $offWhite;
            }
        }
    }
}

//media query for h2 contact pseudo element

@media (min-width: 349px) {
    .contact {
        background-color: $offWhite;
        padding: 40px 0 40px 0;
        text-align: center;
        h2 {
            position: relative;
            width: fit-content;
            z-index: 1;
            margin: 0 auto;
            &::after {
                content: " ";
                background: #fbc7c4;
                position: absolute;
                display: block;
                height: 50%;
                width: 75%;
                right: 0%;
                top: 45%;
                z-index: -2;
                opacity: 0.5;
            }
        }
    }
}
@media (max-width: 349px) {
    .intro {
        .textContainer {
            p {
                padding-bottom: 0px;
            }
        }
    }
    .contact {
        .wrapper {
            padding: 15px 0 15px 0;
        }
        h2 {
            &::after {
                height: 50%;
                width: 75%;
                right: 0%;
                top: 45%;
            }
        }
    }
}

//media queries to show skill badge text on all
//screens under 1050

@media (max-width: 1050px) {
    .skillsContainer {
        ul {
            li {
                .iconName {
                    opacity: 1;
                }
            }
        }
    }
}

//media query for the one person using a galaxy fold

@media (max-width: 310px) {
    body {
        width: 100vw;
        h1 {
            font-size: 2.4rem;
        }
        .projects .wrapper .projectContainer h3 {
            font-size: 1.6rem;
        }

        .skills ul li .iconName {
            font-size: 0.75rem;
        }
    }
}

//media queries for screen size at 530
@media (min-width: 530px) {
    .typedContainer {
        display: inline-block;
        .typed {
            overflow: hidden;
            border-right: 0.15em solid $offWhite;
            white-space: nowrap;
            width: fit-content;
            margin: 0 auto;
            animation: typing 3s steps(45, end) forwards,
                blink-caret 0.75s step-end infinite;
        }
        @keyframes typing {
            from {
                width: 0;
            }
            to {
                width: 100%;
            }
        }
        @keyframes blink-caret {
            from,
            to {
                border-color: transparent;
            }
            50% {
                border-color: $offWhite;
            }
        }
    }
}

//media for tablet screens at 750

@media (min-width: 750px) {
    .top-link {
        right: 2%;
        background-color: transparent;
    }
}

@media (min-width: 950px) {
    //header
    header .wrapper {
        margin: 0 auto;
    }
    header nav {
        align-items: center;
    }

    .hamburger-menu {
        display: none;
    }
    header .navLinks {
        position: static;
        transform: none;
        display: flex;
        flex-direction: row;
        height: fit-content;
        background-color: transparent;
        gap: 20px;
        justify-content: flex-end;
        margin-right: 20px;
        li {
            width: fit-content;
            a {
                padding: 0;
            }
        }
    }

    //about section
    .about .aboutWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto;
        img {
            height: 350px;
        }
        .textContainer {
            width: 60vw;
            max-width: 850px;
        }
    }
    //skills section

    .skills {
        max-height: 900px;
        .wrapper {
            margin: 0 auto;
        }
        .skillsContainer ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            flex-wrap: wrap;
            gap: 40px;
            li .iconName {
                font-size: 1.2rem;
            }
            i {
                padding-bottom: 5px;
            }
        }
    }

    //projects section
    .projects {
        .wrapper {
            margin: 15px 15px;
        }
        .skillsContainer ul {
            .liveContainer {
                flex-direction: row;
            }
        }
    }

    //contact section

    .contact {
        h2 {
            margin: 0 auto;
        }
        .wrapper {
            margin: 0 auto;
            text-align: center;
        }
        .socialContainer {
            margin: 0 auto;
            .socialIcons {
                justify-content: center;
            }
        }
        p {
            padding: 0 40px;
            max-width: 1200px;
            margin: 0 auto;
        }
    }

    //footer

    footer {
        .wrapper {
            margin: 0 auto;
        }
    }
}

@media (min-width: 1400px) {
    //about section
    .about {
        .imgContainer {
            align-items: center;
            img {
                height: 450px;
            }
        }
    }

    //projects section

    .projects {
        .wrapper {
            margin: 0 auto;
            h2 {
                margin-bottom: 40px;
            }
            .projectContainer {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin: 0 auto 50px auto;
            }
            .reversed {
                flex-direction: row-reverse;
            }
            .textContainer {
                width: 65%;
                word-break: break-word;
                max-width: 1600px;
                padding: 0 15px;
                ul {
                    width: 100%;
                }
            }
        }
    }
}
