.projects {
    margin-top: 50px;
    .wrapper {
        margin: 0px;
        padding: 25px;
        h2 {
            position: relative;
            width: fit-content;
            margin: 0 auto;
            &::after {
                content: " ";
                background: #fbc7c4;
                position: absolute;
                display: block;
                height: 24px;
                width: 182px;
                right: -10px;
                top: 19px;
                z-index: -3;
                opacity: 0.5;
            }
        }
        .projectContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            .textContainer {
                word-wrap: break-word;
                word-break: break-word;
            }
            h3 {
                font-size: 1.8rem;
                font-weight: bold;
            }
            span {
                font-weight: bold;
                display: block;
                margin-bottom: 10px;
                margin-top: 40px;
                font-family: $headingFont;
            }
            img {
                width: 95%;
                max-width: 700px;
            }
        }
    }

    .skillsContainer {
        ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: row;
            gap: 15px;
            justify-content: left;
            li {
                width: max-content;
                background-color: lightgray;
                padding: 6px 12px 6px 12px;
                border-radius: 10px;
                color: black;
                font-weight: bold;
                display: flex;
                align-items: center;
                p {
                    margin: 0;
                }
                a {
                    text-decoration: none;
                }
            }
            .liveContainer {
                display: flex;
                flex-direction: row;
                gap: 15px;
                li {
                    padding: 6px 12px 6px 12px;
                    font-size: 1.5rem;
                    background-color: rgba(14, 55, 14, 0.95);
                    transition: all 0.2s;
                    &:hover {
                        background-color: rgba(14, 55, 14, 0.68);
                    }
                    a {
                        color: $offWhite;
                    }
                }
            }
        }
    }
}
