h1,
h2,
h3 {
    // font-family: $headingFont;
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
}

h1,
h2,
h3,
p {
    letter-spacing: 0.25rem;
    color: rgba(14, 55, 14, 0.95);
}

h1 {
    font-size: clamp(3.5rem, 8vw, 7rem);
    font-weight: 500;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1.5rem;
    font-family: $bodyFont;
}

li,
a {
    color: rgba(14, 55, 14, 0.95);
    letter-spacing: 0.2rem;
}
