html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1800px;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

h1,
h2,
h3 {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
}

h1,
h2,
h3,
p {
  letter-spacing: 0.25rem;
  color: rgba(14, 55, 14, 0.95);
}

h1 {
  font-size: clamp(3.5rem, 8vw, 7rem);
  font-weight: 500;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

li,
a {
  color: rgba(14, 55, 14, 0.95);
  letter-spacing: 0.2rem;
}

header img {
  height: auto;
  width: 120px;
}
header nav {
  display: flex;
  flex-direction: row;
}
header nav ul {
  list-style: none;
  height: 50%;
  color: rgba(14, 55, 14, 0.95);
}
header nav .hamburger-menu {
  position: absolute;
  z-index: 4;
  right: 15px;
  top: 35px;
  font-size: 3rem;
  color: rgba(14, 55, 14, 0.95);
}
header nav .fa-bars {
  color: rgba(14, 55, 14, 0.95);
}
header .navLinks {
  transform: translateY(-110%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  list-style: none;
  padding: 0;
  width: 100vw;
  height: 65vh;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: all 0.3s;
}
header .navLinks li {
  width: 75vw;
  text-align: center;
  font-weight: bold;
}
header .navLinks li a {
  text-decoration: none;
  font-family: "Playfair Display SC", serif;
  font-size: 1.5rem;
  padding: 5px 40px 5px 40px;
}
header .navLinks li a:hover {
  text-decoration: line-through;
  opacity: 0.7;
}
header .show {
  transform: translateY(-3%);
}

.about {
  margin-top: 50px;
  margin-bottom: 50px;
}
.about .wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 15px 0 15px;
}
.about .imgContainer {
  display: flex;
  justify-content: center;
}
.about .imgContainer img {
  height: 300px;
  width: auto;
  border-radius: 20px;
}
.about h2 {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.about h2::after {
  content: " ";
  background: #fbc7c4;
  position: absolute;
  display: block;
  height: 25px;
  right: -15px;
  top: 22px;
  width: 145px;
  opacity: 0.5;
  z-index: -1;
}
.about .socialContainer {
  margin: 0;
}
.about ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 0;
}
.about ul svg {
  height: 50px;
  fill: rgba(14, 55, 14, 0.95);
  transition: all 0.2s;
}
.about ul svg:hover {
  opacity: 0.5;
}
.about ul i {
  font-size: 3.3rem;
}
.about ul i:hover {
  opacity: 0.5;
}

.intro {
  background-color: #f6f6f6;
  height: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/introBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.intro .textContainer span {
  font-weight: 600;
  color: rgba(14, 55, 14, 0.88);
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
}
.intro .textContainer span::after {
  content: " ";
  background: #f9bdb9;
  position: absolute;
  display: block;
  height: 60%;
  width: 90%;
  right: 0%;
  top: 50%;
  z-index: -4;
  opacity: 0.5;
}
.intro .textContainer p {
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: 600;
  color: rgba(14, 55, 14, 0.88);
  margin-top: 20px;
}

.skills {
  background-color: #f6f6f6;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 0 50px 0;
}
.skills .wrapper {
  padding-top: 50px;
  margin: 0 15px 0 15px;
  text-align: center;
}
.skills .wrapper h2 {
  position: relative;
  z-index: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.skills .wrapper h2::after {
  content: " ";
  background: #fbc7c4;
  position: absolute;
  display: block;
  height: 25px;
  width: 131px;
  right: -20px;
  top: 20px;
  z-index: -2;
  opacity: 0.5;
}
.skills ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 50px 0 0 0;
  justify-items: center;
}
.skills ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.skills ul li:hover .iconName {
  opacity: 1;
  transition: all 0.3s;
}
.skills ul li i {
  font-size: 5rem;
}
.skills ul li .iconName {
  opacity: 0;
  font-size: 1.2rem;
  font-family: "Playfair Display SC", serif;
}

.projects {
  margin-top: 50px;
}
.projects .wrapper {
  margin: 15px;
}
.projects .wrapper h2 {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.projects .wrapper h2::after {
  content: " ";
  background: #fbc7c4;
  position: absolute;
  display: block;
  height: 25px;
  width: 200px;
  right: -10px;
  top: 25px;
  z-index: -3;
  opacity: 0.5;
}
.projects .wrapper .projectContainer {
  display: flex;
  flex-direction: column;
  margin: 15px;
  align-items: center;
}
.projects .wrapper .projectContainer h3 {
  font-size: 2rem;
  font-weight: bold;
}
.projects .wrapper .projectContainer span {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  margin-top: 40px;
  font-family: "Playfair Display SC", serif;
}
.projects .wrapper .projectContainer img {
  width: 95%;
  max-width: 700px;
}
.projects .wrapper .textContainer ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  width: 80vw;
  list-style: decimal inside none;
  margin-bottom: 40px;
  gap: 10px;
  color: rgba(14, 55, 14, 0.95);
}
.projects .skillsContainer ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.projects .skillsContainer ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: lightgray;
  padding: 6px 12px 6px 12px;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.projects .skillsContainer ul li p {
  margin: 0;
}
.projects .skillsContainer ul li a {
  text-decoration: none;
}
.projects .skillsContainer ul .liveContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.projects .skillsContainer ul .liveContainer li {
  padding: 6px 12px 6px 12px;
  font-size: 1.5rem;
  background-color: rgba(14, 55, 14, 0.95);
  transition: all 0.2s;
}
.projects .skillsContainer ul .liveContainer li:hover {
  background-color: rgba(14, 55, 14, 0.68);
}
.projects .skillsContainer ul .liveContainer li a {
  color: #f6f6f6;
}

.contact {
  background-color: #f6f6f6;
  padding: 40px 0 40px 0;
  text-align: center;
}
.contact h2 {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
  margin: 0 auto;
}
.contact h2::after {
  content: " ";
  background: #fbc7c4;
  position: absolute;
  display: block;
  height: 35%;
  width: 65%;
  right: 10%;
  top: 75%;
  z-index: -2;
  opacity: 0.5;
}
.contact p {
  font-family: "Montserrat", sans-serif;
}
.contact .wrapper {
  margin: 0 30px 0 30px;
  padding: 30px 0 30px 0;
}
.contact .socialIcons {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  gap: 40px;
}
.contact .socialIcons .socialLink:hover {
  opacity: 0.5;
}
.contact .socialIcons i {
  font-size: 3.3rem;
}
.contact .socialIcons i:hover {
  opacity: 0.5;
}
.contact .socialIcons svg {
  height: 50px;
  width: auto;
  fill: rgba(14, 55, 14, 0.95);
}

footer {
  text-align: center;
  padding: 20px;
}
footer p {
  font-family: "Playfair Display SC", serif;
  font-size: 1.2rem;
}

@media (min-width: 335px) {
  .intro .textContainer span {
    position: relative;
    z-index: 1;
  }
  .intro .textContainer span::after {
    content: " ";
    background: #f9bdb9;
    height: 50%;
    width: 92%;
    right: 0%;
    top: 45%;
    z-index: -4;
    opacity: 0.5;
  }
}
@media (min-width: 349px) {
  .contact {
    background-color: #f6f6f6;
    padding: 40px 0 40px 0;
    text-align: center;
  }
  .contact h2 {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    z-index: 1;
    margin: 0 auto;
  }
  .contact h2::after {
    content: " ";
    background: #fbc7c4;
    position: absolute;
    display: block;
    height: 50%;
    width: 80%;
    right: -5%;
    top: 45%;
    z-index: -2;
    opacity: 0.5;
  }
}
@media (min-width: 950px) {
  header .wrapper {
    margin: 0 auto;
  }
  header nav {
    align-items: center;
  }
  .hamburger-menu {
    display: none;
  }
  header .navLinks {
    position: static;
    transform: none;
    display: flex;
    flex-direction: row;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: transparent;
    gap: 20px;
    justify-content: flex-end;
    margin-right: 20px;
  }
  header .navLinks li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  header .navLinks li a {
    padding: 0;
  }
  .about .aboutWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
  }
  .about .aboutWrapper img {
    height: 450px;
  }
  .about .aboutWrapper .textContainer {
    width: 60vw;
    max-width: 850px;
  }
  .about .aboutWrapper .imgContainer {
    align-items: center;
  }
  .skills {
    max-height: 700px;
  }
  .skills .wrapper {
    margin: 0 auto;
  }
  .skills .skillsContainer ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    flex-wrap: wrap;
    gap: 40px;
  }
  .projects .wrapper {
    margin: 0 auto;
  }
  .contact h2 {
    margin: 0 auto;
  }
  .contact .wrapper {
    margin: 0 auto;
    text-align: center;
  }
  .contact .socialContainer {
    margin: 0 auto;
  }
  .contact .socialContainer .socialIcons {
    justify-content: center;
  }
  footer .wrapper {
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  .projects .wrapper h2 {
    margin-bottom: 40px;
  }
  .projects .wrapper .projectContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto 50px auto;
  }
  .projects .wrapper .reversed {
    flex-direction: row-reverse;
  }
  .projects .wrapper .textContainer {
    width: 65%;
    word-break: break-word;
    max-width: 1600px;
  }
  .projects .wrapper .textContainer ul {
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */